*{
	
	box-sizing: border-box;
}

body{
	background-color: #000000;
	color:#ffffff;
	font-size: 1.2rem;
	text-align: center;
}
main{
	width:90%;
	margin:0 auto;
	margin-top: 10px;
	padding-top: 0;
	background-color: #000000;
}

header{
	background-color: #4682b4;
	margin-top: 0;
}

header h2{
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	padding: 7px;
	font-family: Arial black;
}

section{
	width: 100%;
	float: left;
}

.indexBlock{
	width: 33.3%;
	float: left;
}
.divHeading{
	padding: 10px;
	text-align: center;
	border: solid 1px #000000;
}
.divPicture{
	text-align: center;
}
footer{
	width: 100%;
	padding-top: 30px;
	padding-bottom: 10px;
	font-size: 1.5rem ;
	float: left;
	text-align: center;
}
footer p{
	margin: 0;
	background-color: #000000;
	color: white;
}
a:link, a:visited, a:hover, a:active{
	color: white;
}
a{
	text-decoration: none;
}
.btn{
	width: 100%;
	float: left;
	text-align: center;
}
.btnLink{
	padding: 10px;
	background-color: #4682b4;
	border-radius: 10px;
}
table{
	width: 100%;
	float: left;
}
td{
	padding: 20px;
	text-align: center;
}
ul{
	list-style-image: url("bullet.gif");
}
.btnLink2{
	padding: 10px;
	background-color: #add8e6;
	border-radius: 10px;
}
.table-of-team-pics{
	text-align: center;
}
.team-image{
	block-size: 200px;
}





