/*-------------taken from the main css file------------*/
body{
	background-color: #000000;
	color:#ffffff;
	font-size: 1.2rem;
	text-align: center;
}
main{
	width:90%;
	margin:0 auto;
	margin-top: 10px;
	padding-top: 0;
	background-color: #000000;
}
header{
	background-color: #4682b4;
	margin-top: 0;
}

header h2{
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	padding: 7px;
	font-family: Arial black;
}

section{
	width: 100%;
	float: left;
}
footer{
	width: 100%;
	padding-top: 30px;
	padding-bottom: 10px;
	font-size: 1.5rem ;
	float: left;
	text-align: center;
}
footer p{
	margin: 0;
	background-color: #000000;
	color: white;
}
.btn{
	width: 100%;
	float: left;
	text-align: center;
}
.btnLink{
	padding: 10px;
	background-color: #4682b4;
	border-radius: 10px;
}
a:link, a:visited, a:hover, a:active{
	color: white;
}
a{
	text-decoration: none;
}

/*-------------css unique to whatsftc page------------*/
.slideshow {
	text-align: center;
	padding: 0 150px 0px 150px;
}

#slide{
	width:100%;
}
	
* {
	box-sizing: border-box;
}

.mySlides {
	display: none
}


.ss-container {
	width: auto;
	position: relative;
	margin: -10px;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(255,255,255,0.7);
    color: #000;
}

.prev:focus, .next:focus {
    background-color: rgba(255,255,255,0.8);
	color: #000;
}


/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 15px 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
	background-color: #494B55;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	animation-name: fade;
	animation-duration: 2s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.6} 
  to {opacity: 1}
}

.pics
{
    border:3px solid black;
    width:100%;
}


